@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');
@import 'variables';
@import '../layout/footer';
@import '../layout/header';
@import 'mixins';
@import '../layout/vinoteca';
@import '../layout/fotos';
@import '../layout/texto';
@import'../layout/forms';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

section{
    padding-bottom: 25px;
    padding-top: 90px;
    min-height: 100vh;
}

