@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

section{
    padding-bottom: 25px;
    padding-top: 90px;
    min-height: 100vh;
}

/*Header*/

.header{
    position: fixed;
    width: 100%;
    z-index:99;
}

.logo{
    cursor: pointer;
}

.logo img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.logo img:hover{
    transform: scale(1.2);
}

/*footer*/

footer {
    padding: 20px;
    text-align: center;
    background: white;
    background-color: rgb(158, 147, 86);
    margin-top: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    bottom: 0;
    width: 100%;
}

/*formularios*/

.forms {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact__fieldset--reservas{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 70%;
    color: #e2f1f8;
    line-height: 40px;
}
@media screen and (min-width: 768px){
.contact__fieldset--reservas{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 400px;
    color: #e2f1f8;
    line-height: 40px;
}
}

.campo {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}
.boton{
    width: 40%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: rgb(98, 141, 98);
    line-height: 20px;
}

/*Titulos*/

.titulosforms {
    padding-top: 80px;
    color: #e2f1f8;
}

.titulovino {
    color: black;
    padding-top: 100px;
}

.titulos2 {
    font-family: "Abril FatFace";
    font-size: 50px;
    text-align: center;
    padding-left: 0px;
    z-index: 3;
    padding-left: 0px;
}
@media screen and (min-width: 769px) {
.titulovino {
    color: black;
    padding-top: 80px;
}

.titulos2 {
    font-family: "Abril FatFace";
    font-size: 50px;
    text-align: left;
    padding-left: 20px;
    z-index: 3;
    padding-left: 100px;
}
}

.title {
    font-family: "Abril FatFace";
    font-size: 50px;
    text-align: center;
    z-index: 3;
}

/*Texto*/

.textohistoria{
    text-align: center;
}
.textohistoria2 {
    text-align: center;
}
@media screen and (min-width: 768px){
.textohistoria{
    text-align: left;
    padding-left: 40px;
    padding-right: 40px;
}
.textohistoria2 {
    text-align: right;
    padding-right: 40px;
}
}
.textohome{
    font-family: Abyssinica SIL;
    font-size: x-large;
    text-align: center;
}

/*Imagenes y Backgrounds*/

.imghistoria{ 
    width: 100%;
    padding: 0 25% 5% 25%;
}
.imghistoria2 {
    height: 200px;
    width: 300px;
    width: 100%;
    padding: 0 25% 5% 25%;
}
@media screen and (min-width: 768px){
.imghistoria{
    float: right;
    padding: 0 40px 0 0;
    width: 300px;
    height: 170px;
}

.imghistoria2 {
    float: left;
    height: 200px;
    width: 300px;
    padding: 0 0 0 40px;
}
}

.backgroundcontacto{
    background-image: url(assets/backcont.jpeg);
    size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.backreservas{
    background-image: url(assets/backreservas.jpeg);
}

.img{
    width: 100%;
    height: 20%;
}

/*Cards*/

@media screen and (max-width: 768px){
.galeria{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 20%;
    padding-right: 15%;
}
}
.galeria {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.borde {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    height: 200px;
    }

.card-flip > div {
    backface-visibility: hidden;
    transition: transform 300ms;
    transition-timing-function: linear;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
}
.card-front {
    transform: rotateY(0deg);
}
.card-back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
}  
.card-flip:hover .card-front {
    transform: rotateY(-180deg);
}
.card-flip:hover .card-back {
    transform: rotateY(0deg);
}

