footer {
    padding: 20px;
    text-align: center;
    background: white;
    background-color: rgb(158, 147, 86);
    margin-top: 20px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    position: relative;
    bottom: 0;
    width: 100%;
  }